

body{
    background-color: #e4a834;
    color: #f9ad19;
}
.body{
    background: #000000;
    margin: 20px;
    padding: 20px;
}

h1{
    color: blue;
}


h2{
    color: #d4272b;
    text-align: center;
    margin-bottom: 20px;
}

input{
    color: #000000;
}

button{
    color: #000000;
}

.create-update-form{
    color: #000000;
}

.row-res{
    border: solid 8px #243d99;
    margin: 25px 0;
    font-size: 18px;
}

.row-add{
    border: solid 8px #1e9948;
    margin: 25px 0px;
    padding-bottom: 20px;
    text-align: center;
}

span{
    color: #ffffff;
    background-color: #000000;
}

.list-group-item{
    color: #ffffff;
    background-color: #000000;
    border: none;
}

.d-btn{
    color: #ffffff;
    background-color: #555555;
    border-radius: 0;
    padding: 3px;
    border: solid 1px #ffffff;
    margin: 4px 0px 4px 10px;
}
.burger-item{
    border-top: solid 3px #f9ad19;
}